[submodule "toolchain/gcc"]
	path = toolchain/gcc
	url = https://github.com/alex2kameboss/MA-riscv-gnu-toolchain.git
[submodule "src/tests/dpi/jtag"]
	path = src/tests/dpi/jtag
	url = https://github.com/pulp-platform/jtag_dpi.git
