interface ftdi
ftdi_device_desc "VCU128"
adapter_khz     1000

set _CHIPNAME riscv
jtag newtap $_CHIPNAME cpu -irlen 18 -expected-id 0x14B79093

foreach t [jtag names] {
    puts [format "TAP: %s\n" $t]
}

set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME riscv -chain-position $_TARGETNAME -coreid 0

riscv set_ir idcode 0x249249
riscv set_ir dtmcs 0x8a4924
riscv set_ir dmi 0x8e4924

gdb_report_data_abort enable
gdb_report_register_access_error enable
gdb_memory_map enable
gdb_flash_program enable

riscv set_reset_timeout_sec 300
riscv set_command_timeout_sec 300

riscv set_prefer_sba on

#riscv set_prefer_sba on
#scan_chain

init
halt

echo "Ready for Remote Connections"